html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scal=1')
    title My-Pantry
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(rel='icon', href='assets/img/favicon.ico')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css', rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    link(href='./stylesheets/justified-nav.css', rel='stylesheet')
    link(href='./stylesheets/styles.css', rel='stylesheet')
  body
    .container
      .masthead
        h3 My-Pantry
        nav
          ul.nav.nav-justified
            li
              a(href='/') Recipe Search
            li.active
              a(href='/favorites') Favorites
      .jumbotron
        h1 Favorites
      .container
        .row
          each recipe, i in favorites
            .col-sm-6.col-md-4
              .thumbnail
                img(src='#{recipe.images[0].hostedLargeUrl}', alt='100%x200', data-holder-rendered='true', style='height: 300px; width: 100%; display: block;')
                .caption
                  h3.caption-text #{recipe.name}
                  h4.caption-text Ingredients:
                  ul
                    each ingredient, j in recipe.ingredientLines
                      li.caption-text #{ingredient}
                  p.caption-text
                    | Serverings :#{recipe.numberOfServings}
                    br
                    | Rating #{recipe.rating} / 5
                  p
                    a.btn.btn-primary.details(type='button', href='#{recipe.source.sourceRecipeUrl}', target='_blank', data-original-title='', title='') Source
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
      script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
      script(src='js/search.js')
      script(src='js/getRecipe.js')  
    .container
      footer.footer
        p &copy 2016 My-Pantry.
